body {
  margin:0px;
  background-image:url('../../images/个人主页模块/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:127px;
  width:1370px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:1353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1370px;
  height:1px;
}
#u1 {
  position:absolute;
  left:345px;
  top:203px;
  width:95px;
  height:93px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:93px;
}
#u2 {
  position:absolute;
  left:2px;
  top:38px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:583px;
  top:199px;
  width:97px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:584px;
  top:265px;
  width:76px;
  height:31px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:584px;
  top:487px;
  width:76px;
  height:31px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:584px;
  top:311px;
  width:76px;
  height:31px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:584px;
  top:444px;
  width:76px;
  height:31px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:584px;
  top:351px;
  width:76px;
  height:31px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:584px;
  top:398px;
  width:76px;
  height:31px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:345px;
  top:341px;
  width:55px;
  height:30px;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:420px;
  top:341px;
  width:55px;
  height:30px;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:583px;
  top:549px;
  width:97px;
  height:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:584px;
  top:614px;
  width:76px;
  height:31px;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:584px;
  top:660px;
  width:76px;
  height:31px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:584px;
  top:704px;
  width:76px;
  height:31px;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:584px;
  top:748px;
  width:76px;
  height:31px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:583px;
  top:824px;
  width:49px;
  height:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:584px;
  top:1095px;
  width:97px;
  height:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:670px;
  top:268px;
  width:100px;
  height:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:670px;
  top:313px;
  width:100px;
  height:24px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:668px;
  top:353px;
  width:100px;
  height:24px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:670px;
  top:398px;
  width:100px;
  height:24px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:670px;
  top:446px;
  width:100px;
  height:24px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:670px;
  top:489px;
  width:180px;
  height:24px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:670px;
  top:616px;
  width:100px;
  height:24px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:670px;
  top:664px;
  width:140px;
  height:24px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:670px;
  top:707px;
  width:100px;
  height:24px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:670px;
  top:750px;
  width:100px;
  height:24px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:598px;
  top:862px;
  width:70px;
  height:70px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u56 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:678px;
  top:862px;
  width:70px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:773px;
  top:866px;
  width:245px;
  height:20px;
  color:#000000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:20px;
}
#u59_img.selected {
}
#u59.selected {
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u59_img.mouseDown {
}
#u59.mouseDown {
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:686px;
  top:904px;
  width:62px;
  height:23px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u61_img.selected {
}
#u61.selected {
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1182px;
  top:876px;
  width:41px;
  height:42px;
  font-family:'Adobe 宋体 Std L Oblique', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:oblique;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u63_img.selected {
}
#u63.selected {
}
#u64 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:598px;
  top:942px;
  width:70px;
  height:70px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u66 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:678px;
  top:946px;
  width:70px;
  height:30px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u67_img.mouseOver {
}
#u67.mouseOver {
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:773px;
  top:950px;
  width:265px;
  height:20px;
  color:#000000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
}
#u69_img.selected {
}
#u69.selected {
}
#u69_img.mouseOver {
}
#u69.mouseOver {
}
#u69_img.mouseDown {
}
#u69.mouseDown {
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:856px;
  top:902px;
  width:57px;
  height:25px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u71_img.selected {
}
#u71.selected {
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:686px;
  top:988px;
  width:62px;
  height:23px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u73_img.selected {
}
#u73.selected {
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:856px;
  top:986px;
  width:57px;
  height:25px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u75_img.selected {
}
#u75.selected {
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:953px;
  top:902px;
  width:85px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:957px;
  top:986px;
  width:85px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:598px;
  top:1022px;
  width:70px;
  height:70px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u82 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:678px;
  top:1022px;
  width:70px;
  height:30px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u83_img.mouseOver {
}
#u83.mouseOver {
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:773px;
  top:1028px;
  width:265px;
  height:20px;
  color:#000000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
}
#u85_img.selected {
}
#u85.selected {
}
#u85_img.mouseOver {
}
#u85.mouseOver {
}
#u85_img.mouseDown {
}
#u85.mouseDown {
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:686px;
  top:1072px;
  width:62px;
  height:23px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u87_img.selected {
}
#u87.selected {
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:856px;
  top:1070px;
  width:57px;
  height:25px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u89_img.selected {
}
#u89.selected {
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:957px;
  top:1070px;
  width:85px;
  height:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:918px;
  top:902px;
  width:27px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:919px;
  top:986px;
  width:27px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:919px;
  top:1070px;
  width:38px;
  height:17px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:750px;
  top:1072px;
  width:55px;
  height:17px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:748px;
  top:988px;
  width:55px;
  height:17px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:758px;
  top:904px;
  width:65px;
  height:17px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:598px;
  top:1134px;
  width:70px;
  height:70px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u106 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:678px;
  top:1134px;
  width:70px;
  height:30px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u107_img.mouseOver {
}
#u107.mouseOver {
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:773px;
  top:1144px;
  width:310px;
  height:20px;
  color:#000000;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u109_img.selected {
}
#u109.selected {
}
#u109_img.mouseOver {
}
#u109.mouseOver {
}
#u109_img.mouseDown {
}
#u109.mouseDown {
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:686px;
  top:1181px;
  width:62px;
  height:23px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u111_img.selected {
}
#u111.selected {
}
#u111_img.mouseOver {
}
#u111.mouseOver {
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:748px;
  top:1181px;
  width:55px;
  height:17px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:856px;
  top:1179px;
  width:57px;
  height:25px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u115_img.selected {
}
#u115.selected {
}
#u115_img.mouseOver {
}
#u115.mouseOver {
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:919px;
  top:1178px;
  width:38px;
  height:17px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:957px;
  top:1178px;
  width:85px;
  height:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:598px;
  top:1214px;
  width:70px;
  height:70px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u122 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:678px;
  top:1212px;
  width:70px;
  height:30px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u123_img.mouseOver {
}
#u123.mouseOver {
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:773px;
  top:1222px;
  width:310px;
  height:20px;
  color:#000000;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u125_img.selected {
}
#u125.selected {
}
#u125_img.mouseOver {
}
#u125.mouseOver {
}
#u125_img.mouseDown {
}
#u125.mouseDown {
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:686px;
  top:1259px;
  width:62px;
  height:23px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u127_img.selected {
}
#u127.selected {
}
#u127_img.mouseOver {
}
#u127.mouseOver {
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:748px;
  top:1259px;
  width:75px;
  height:17px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:856px;
  top:1257px;
  width:57px;
  height:25px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u131_img.selected {
}
#u131.selected {
}
#u131_img.mouseOver {
}
#u131.mouseOver {
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:919px;
  top:1256px;
  width:38px;
  height:17px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:957px;
  top:1256px;
  width:85px;
  height:20px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:598px;
  top:1304px;
  width:70px;
  height:68px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u138 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:678px;
  top:1302px;
  width:70px;
  height:30px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u139_img.mouseOver {
}
#u139.mouseOver {
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:774px;
  top:1312px;
  width:310px;
  height:20px;
  color:#000000;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u141_img.selected {
}
#u141.selected {
}
#u141_img.mouseOver {
}
#u141.mouseOver {
}
#u141_img.mouseDown {
}
#u141.mouseDown {
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:686px;
  top:1349px;
  width:62px;
  height:23px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u143_img.selected {
}
#u143.selected {
}
#u143_img.mouseOver {
}
#u143.mouseOver {
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:748px;
  top:1349px;
  width:75px;
  height:17px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:856px;
  top:1347px;
  width:57px;
  height:25px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u147_img.selected {
}
#u147.selected {
}
#u147_img.mouseOver {
}
#u147.mouseOver {
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:920px;
  top:1346px;
  width:38px;
  height:17px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:958px;
  top:1346px;
  width:85px;
  height:20px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:1182px;
  top:948px;
  width:41px;
  height:42px;
  font-family:'Adobe 宋体 Std L Oblique', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:oblique;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u153_img.selected {
}
#u153.selected {
}
#u154 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:1182px;
  top:1036px;
  width:41px;
  height:42px;
  font-family:'Adobe 宋体 Std L Oblique', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:oblique;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u155_img.selected {
}
#u155.selected {
}
#u156 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:120px;
  top:18px;
  width:361px;
  height:50px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:44px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:50px;
}
#u157_img.mouseOver {
}
#u157.mouseOver {
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:22px;
  top:80px;
  width:198px;
  height:37px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:37px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
